<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t("cms.new_page"), new_object_url,
                         {:remote => true,
                         :icon => 'add',
                         'data-update' => 'new-page'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= "#{t('actions.listing')} #{t('pages')}" %></h1>

<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<div id="new-page"></div>


<table class="index">
  <tr>
    <%= hook :admin_pages_index_headers do %>
      <th><%= t("cms.title") %></th>
      <th><%= t("cms.date") %></th>
    <% end %>
    <th>
      <%= hook :admin_pages_index_header_actions %>
    </th>
  </tr>

<% @collection.each do |page| %>
  <%- locals = {:page => page} -%>
  <tr>
    <%= hook :admin_pages_index_rows, locals do %>
      <td><%= link_to h(page.title), [:edit,:admin,page] %> (<%= page.is_active == 1 ? t("cms.published") : t("cms.draft") %>) </td>
      <td><%= (page.published_at.blank? ? page.updated_at : page.published_at).strftime("%B %d, %Y at %I:%M%p") %></td>
    <% end %>
    <td class="actions">
      <%= hook :admin_pages_index_row_actions, locals do %>
        <%= link_to_edit page %>
        &nbsp;
        <%= link_to_delete page %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>