<%= render :partial => 'sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t("cms.new_post"), new_object_url,
                         {:remote => true,
                         'data-update' => 'new-post',
                         :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= "#{t('actions.listing')} #{t('posts')}" %></h1>

<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<div id="new-post"></div>

<table class="index">
  <tr>
    <%= hook :admin_posts_index_headers do %>
      <th><%= t("cms.title") %></th>
      <th><%= t("cms.author") %></th>
      <th><%= t("cms.tags") %></th>
      <th><%= t("cms.date") %></th>
    <% end %>
    <th>
      <%= hook :admin_posts_index_header_actions %>
    </th>
  </tr>

<% @collection.each do |post| %>
  <%- locals = {:post => post} -%>
  <tr>
    <%= hook :admin_posts_index_rows, locals do %>
      <td><%= link_to h(post.title), [:edit,:admin,post] %> (<%= post.is_active == 1 ? t("cms.published") : t("cms.draft") %>) </td>      
      <td><%= link_to post.user.display_name, [:admin, post.user] %></td>
      <td><%= post.tag_list %></td>
      <td><%= (post.published_at.blank? ? post.updated_at : post.published_at).strftime("%B %d, %Y at %I:%M%p") %></td>
      <td class="actions">
        <%= hook :admin_pages_index_row_actions, locals do %>
          <%= link_to_edit post %>
          &nbsp;
          <%= link_to_delete post %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>